body {
    font-family: Unna-Regular;
    background-image: url(images/consensus2.webp);
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130vh;
    margin: 0;
}
.navbar ul{
    list-style-type: none;
    background-color: rgba(97, 170, 87, 0.486);
    margin-top: 0px;
    overflow: hidden;

}
.navbar a{
    display: block;
    text-align: center;
    padding: 15px;
    font-size: small;
}
.navbar li{
    float: left;
}
.navbar a:hover{
    font-weight: bolder;
}

.container {
    text-align: center;
    position: absolute;
    background-color: rgb(134, 221, 126);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
@font-face{
    src: url(fonts/Unna-Regular.ttf);
    font-family: Unna-Regular;
}
@font-face{
    src: url(fonts/Unna-Bold.ttf);
    font-family: Unna-Bold;
}
form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 10px;
}
article{
    float: inline-start;
    position: absolute;
    margin-left: -20%;
    margin-top: -62%;
    font-family: Unna-Regular;
    font-size: 1em;
}
.horizontal-text {
    white-space: nowrap;
    overflow-x: auto;
    display: block;
}
input {
    padding: 8px;
    margin-top: 5px;
    width:40px
}
button {
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#results {
    margin-top: 15px;
    border: solid #0056b3;
}
footer{
    margin-top: 110%;
    margin-left: -24%;
    float: right;
    position: absolute;
    white-space: nowrap;
}
footer a:hover{
    font-weight: bolder;
}
